

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>게시물 작성폼</title>
    <link rel="stylesheet" type="text/css" th:href="@{/front/css/boardwrite.css}">
</head>

<body>
<!--    <header class="header" style="background-image: url('/front/img/slide1.jpg')">-->
    <header>
        <div class="main-img" style="background-image: url('/static/front/img/pastel.png');">

        <div class="layout">

            <ul>
                <li>오늘 나의 일상은?</li>
            </ul>
            <form class="form" action="/board/writepro" method="post" enctype="multipart/form-data">
                <input name="title" type="text">
                <textarea name="content"> </textarea><br></br>
                <input type="file" name="file">
                <button class="btn" type="submit">작성</button>
            </form>
            </div>
        </div>
    </header>
</body>
</html>