@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Sunflower:wght@300;500;700&display=swap');

/*body {*/
/*    background: url(../img/pastel.png)*/
/*    no-repeat center center fixed;*/
/*    background-size: cover;*/
/*    min-height: 100vh;*/
/*    position: relative;*/
/*}*/
.layout{
    flex: 0 0 50%;
}
.layout table{
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
}
.layout th{
    padding-bottom: 30px;
}
.layout td {
    font-family: 'Sunflower', sans-serif;
    display: block;
    border:0.1px solid gainsboro;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 50px;
}
.layout td{
    width: 80%;
    text-align: center;
}
.layout td h1 {
    font-size: 20px;
}
.layout td p{
    font-size: 14px;
    margin: 50px;
}
.layout td a{
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 14px;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
}
.layout ul{
    background-color: deeppink;
    display: block;
    border:1px solid deeppink;
    color:#ffffff;
    margin:0;
    padding:0;
    margin-bottom: 50px;
}
.layout ul li {
    font-family: 'Sunflower', sans-serif;
    text-align: center;
    font-size: 40px;
    list-style: none;
    color: #ffffff;
}
.layout .goMain{
    margin-top: 20px;
}